<section class="p8">
  <button mat-stroked-button
          (click)="seed()">
    Sync Picsum Photos
  </button>
</section>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="!(seeding) else loading">
  <ng-container *ngIf="photoSrc.queryResult$ | async as query else loading">
    <async-source-layout searchLabel="Search Photos"
                         emptyLabel="No Photos Available"
                         [src]="photoSrc">
      <display-card *ngFor="let photo of query.data">
        <section fxLayout="column"
                 fxLayoutAlign="start center">
          <img class="m4"
               loading="lazy"
               [src]="photoApi.preview(photo)">
          <p class="m4 mat-title">{{photo.author}}</p>
          <p class="m4 mat-body-strong">{{photo.width}} x {{photo.height}}</p>
          <section fxLayout="row"
                   fxLayoutAlign="space-between center">
            <a mat-stroked-button
               class="m4 color-default"
               target="_blank"
               [href]="photo.downloadUrl">Download</a>
            <a mat-stroked-button
               class="m4 color-default"
               target="_blank"
               [href]="photo.url">Unsplash</a>
          </section>
        </section>
      </display-card>
    </async-source-layout>
  </ng-container>
</ng-container>
